#account {
  display:          none;
  position:         absolute;
  background-color: white;
  z-index:          100;
  width:            100%;
  height:           100%;
  top:              100%;

  .header {
    text-align: center;
    font-weight: bold;
  }

  .title {
    font-weight: bold;
    border-bottom: 1px solid #9e9e9e;
    margin-bottom: 25px;
    padding-bottom: 10px;
  }

  .padded, li input {
    padding-left:  10px;
    padding-right: 10px;
    box-sizing:    border-box;
  }

  .save {
    width: 100%;
  }
}
