.cover-photo {
  color: white;

  .cover-photo-inner {
    width: 100%;
    height: 100px;
    position: relative;

    .cover-photo-icon {
      padding: 0 10px 0 10px;
      position: absolute;
      left: 50%;
      margin: 0 0 0 -24px;
    }

    h5 {
      position: absolute;
      margin: 10px;
      bottom: 0;
    }
  }
}
