.ea-activities-list {
  margin: 0;

  li {
    position: relative;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid lightgray;
    height: 131px;
    overflow-y: hidden;

    .preview-container {
      padding: 0 10px 0 10px;

      h5 {
        margin: 0 0 10px 0;
        font-size: 18px;

        span {
          color: gray;
          font-size: 15px;
          margin-left: 10px;
        }
      }

      .activity-title {
        font-weight: bold;
        margin-bottom: 5px;
      }

      p {
        margin: 0;
      }

      .activity-address-box {
        margin-right: 50px;
        margin-bottom: 21px;
      }

      i {
        position: absolute;
        right: 10px;
        top: 110px;
      }

    }
  }

  .more-details-container {
    padding: 0 10px 0 10px;

    .more-detail {
      margin-top: 20px;

      .more-detail-heading {
        margin-bottom: 0;
        text-transform: uppercase;
        color: gray;
        font-weight: bold;
        font-size: 11px;
      }

      .more-detail-text {
        margin: 0;
      }
    }
  }

  .map-container {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    height: 100px;
    width: 100%;
  }
}
