#fixed-settings {
  position: fixed;
  bottom: 15px;
  left: 15px;
  margin-bottom: 0;

  i {
    font-size: 30px;
  }
}

#fixed-add-event {
  position: fixed;
  bottom: 15px;
  right: 15px;
  margin-bottom: 0;

  i {
    font-size: 30px;
  }
}
