#acct-btn-wrapper {
  position: fixed;
  bottom: 15px;
  left: 15px;
  margin-bottom: 0;

  i {
    font-size: 30px;
  }
}

#add-event-btn-wrapper {
  position: fixed;
  bottom: 15px;
  right: 15px;
  margin-bottom: 0;

  i {
    font-size: 30px;
  }
}
