.nav-slides {
  background-color: black;
  height: 75px;
  color: gray;
  border-bottom: 1px solid gray;
  text-align: center;

  /*&.event-show {*/
    /*height: 50px;*/
  /*}*/

  .swiper-slide {
    margin-top: 35px;
    width: 40%;
    height: 40px;
  }

  .swiper-slide-active {
    color: white;
  }
}

