.nav-slides {
  background-color: black;
  height: 75px;
  color: gray;
  border-bottom: 1px solid gray;
  text-align: center;

  &.nav-slides-show {
    height: 55px;

    .swiper-slide {
      margin-top: 18px;
    }
  }

  .swiper-slide {
    margin-top: 35px;
    width: 40%;
    height: 40px;
  }

  .swiper-slide-active {
    color: white;
  }
}

