.wall-posts {
  margin: 0;

  li {
    padding: 10px 10px 0 10px;
  }

  .commenter-details {
    margin-bottom: 5px;

    .username {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 11px;
    }

    .comment-date {
      font-size: 11px;
      color: gray;
    }
  }

  p {
    margin: 0 0 10px 0;
  }
}


