.ea-btn {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid $black;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: white;
  color: $black;
  box-shadow: none;

  &:hover {
    background-color: white;
    box-shadow: none;
  }

  i {
    font-size: 3rem;
    padding-left: 5px;
  }
}
