html {
  font-size: 0.75rem;
}

html, body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.25rem;
  line-height: 30px;
}

h2 {
  font-size: 1.6rem;
  line-height: 25px;
}

h3 {
  font-size: 1.5rem;
  line-height: 20px;
}

h5 {
  font-size: 0.9rem;
  line-height: 15px;
}

button {
  width: 100%;
  border: 1px solid $gray;
  box-sizing: border-box;
  border-radius: 5px solid $black;
  font-weight: bold;
  text-transform: uppercase;
}

i {
  font-size: 2rem;
}
