html {
  font-size: 0.75rem;
}

html, body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.25rem;
  line-height: 30px;
}

h2 {
  font-size: 1.6rem;
  line-height: 25px;
}

h3 {
  font-size: 1.5rem;
  line-height: 20px;
}

h5 {
  font-size: 0.9rem;
  line-height: 15px;
}

button {
  padding: 0 0 0 3px;

  i {
    font-size: 2.5rem;
    vertical-align: middle;
  }
}

i {
  font-size: 2rem;
  vertical-align: bottom;
  &:before {
    vertical-align: bottom;
  }
}

input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
  @include horizontal-padded
}
