<head>
  <meta name='viewport' content='width=device-width, initial-scale=1.0 user-scalable=no'>
  <meta name='apple-mobile-web-app-capable' content='yes' />
  <meta name='apple-mobile-web-app-status-bar-style' content='black'>
  <link rel='apple-touch-icon' href='/images/57.png' />
  <title>Events</title>
</head>

<body></body>

<template name='applicationLayout'>
  <header id='status-bar'></header>

  <div id='content'>
    {{> yield}}
  </div>
</template>

<template name='notFoundLayout'>
  {{> yield}}
</template>

<template name='loadingLayout'>
  {{> yield}}
</template>
