<template name='EventsShowDetails'>
  <div class='swiper-slide'>
    <ul class='swiper-slide-scrollable'>
      {{#each currentEvent.activities}}
        <li class='li-lrg'>
          <div class='li-lrg-preview'>
            <h2 class='li-lrg-preview-heading'>{{title}}</h2>
            <h3 class='li-lrg-preview-subheading'>
              {{formattedDate}}
              <span class='li-lrg-preview-offset'>{{formattedStartTime}} - {{formattedEndTime}}</span>
            </h3>

            <div class='li-lrg-preview-items'>
              <p class='li-lrg-preview-item'>{{address.address1}}</p>
              <p class='li-lrg-preview-item'>{{address.address2}}</p>
              <p class='li-lrg-preview-item'>{{address.city}}, {{address.state}} {{address.zipCode}}</p>
            </div>

            <i class='arrow li-lrg-preview-bottom-right mdi-hardware-keyboard-arrow-down small'></i>
          </div>

          <div class='li-lrg-touch-footer'></div>

          <div class='li-lrg-banner'>
            <img src='{{staticMapUrl}}'>
          </div>

          <div class='li-lrg-more-details'>
            <div class='detail'>
              <h5 class='detail-heading'>Transit / Parking</h5>
              <p class='detail-text'>{{transit}}</p>
            </div>

            <div class='detail'>
              <h5 class='detail-heading'>Attire / Dress Code</h5>
              <p class='detail-text'>{{attire}}</p>
            </div>

            <div class='detail'>
              <h5 class='detail-heading'>Notes</h5>
              <p class='detail-text'>{{notes}}</p>
            </div>
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
</template>
