<template name='EventsShowGuestList'>
  <div class='swiper-slide'>
    <div class='ea-guest-list-header'>
      <h5>{{yesGuests.length}} Guests Attending</h5>
      <button>Add Guests</button>
    </div>

    <ul class='ea-guest-list'>
      <li class='guest-list-heading'>
        Not Yet Invited <span>{{notYetInvitedGuests.length}}</span>
      </li>

      {{#each notYetInvitedGuests}}
        <li class='guest-name'>
          <p>{{email}}</p> <i class='mdi-hardware-keyboard-arrow-right'></i>
        </li>
      {{/each}}

      <p class='preview-invite'>Send myself a preview invite</p>

      <div class='button-container'>
        <button>Send Invites to {{uninvitedCount}} guests</button>
      </div>
    </ul>

    <ul class='ea-guest-list'>
      <li class='guest-list-heading yes'>Yes <span>{{yesGuests.length}}</span></li>

      {{#each yesGuests}}
        <li class='guest-name'>
          <p>{{email}}</p> <i class='mdi-hardware-keyboard-arrow-right'></i>
        </li>
      {{/each}}
    </ul>

    <ul class='ea-guest-list'>
      <li class='guest-list-heading no'>No <span>{{noGuests.length}}</span></li>

      {{#each noGuests}}
        <li class='guest-name'>
          <p>{{email}}</p> <i class='mdi-hardware-keyboard-arrow-right'></i>
        </li>
      {{/each}}
    </ul>

    <ul class='ea-guest-list'>
      <li class='guest-list-heading'>No Reply <span>{{noReplyGuests.length}}</span></li>

      {{#each noReplyGuests}}
        <li class='guest-name'>
          <p>{{email}}</p> <p class='guest-mail-status'>{{mailStatus}}</p>
        </li>
      {{/each}}
    </ul>
  </div>
</template>
