<template name='EventsShowGuestList'>
  <div class='swiper-slide'>
    <div class='ea-guest-list-header'>
      <button>Add Guests</button>
    </div>

    <ul class='ea-guest-list'>
      <li class='guest-list-heading'>Not Yet Invited</li>

      {{#each yesGuests}}
        {{email}}
      {{/each}}
    </ul>

    <ul class='ea-guest-list'>
      <li class='guest-list-heading yes'>Yes</li>

      {{#each yesGuests}}
        {{email}}
      {{/each}}
    </ul>

    <ul class='ea-guest-list'>
      <li class='guest-list-heading no'>No</li>

      {{#each noGuests}}
        {{email}}
      {{/each}}
    </ul>

    <ul class='ea-guest-list'>
      <li class='guest-list-heading'>No Reply</li>

      {{#each noReplyGuests}}
      {{/each}}
    </ul>
  </div>
</template>
