<template name='EventsShowHost'>
  <div class='swiper-slide'>
    <ul class='swiper-slide-scrollable'>
      {{#each currentEvent.hosts}}
        <li class='li-med'>
          <h2 class='li-med-heading'>
            {{name}}, <span class='li-med-subheading'>{{role}}</span>
          </h2>

          <div class='li-med-line-item'>
            <p class='li-med-line-item-text'>{{email}}</p>
            <i class='li-med-line-item-right mdi-communication-email'></i>
          </div>

          <div class='li-med-line-item'>
            <p class='li-med-line-item-text no-bottom-margin'>{{phone}}</p>

            <div class='li-med-line-item-right'>
              <i class='mdi-communication-phone'></i>
              <i class='mdi-communication-message'></i>
            </div>
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
</template>
