<template name="Account">
<form id="account">
  <div class="header">
    <a class='close'> X </a>
    ACCOUNT
    <a> Log Out </a>
  </div>

  <ul>
    <li class="title padded">YOUR DETAILS</li>
    {{> AccountInput model=profile name="fullName"}}
    {{> AccountInput model=profile name="email"}}
    {{> AccountInput model=profile name="secondaryEmail"}}
    {{> AccountInput model=profile name="phone"}}
  </ul>

  <div class='padded'>
    <button type="submit" class="save btn-large">
      SAVE CHANGES
    </button>
  </div>
</form>
</template>
