<template name="Account">
<form id="account">
  <div class="header">
    <a class='close'> X </a>
    ACCOUNT
    <a> Log Out </a>
  </div>

  <ul>
    <li class="title padded">YOUR DETAILS</li>
    {{> AccountInput value=profile.fullName name="fullName" label="FULL NAME"}}
    {{> AccountInput value=profile.email name="email" label="EMAIL"}}
    {{> AccountInput value=profile.secondaryEmail name="secondaryEmail" label="SECONDARY EMAIL"}}
    {{> AccountInput value=profile.phone name="phone" label="PHONE"}}
  </ul>

  <div class='padded'>
    <button type="submit" class="save btn-large">
      SAVE CHANGES
    </button>
  </div>
</form>
</template>
