.events-index-links {
  background-color: black;
  color: gray;
  height: 70px;

  .swiper-slide-active {
    color: white;
  }

  .link-section {
    margin-top: 20px;
    height: 50px;
  }
}

.events-index-slides {

}
