<template name='EventsIndex'>
  {{#if Template.subscriptionsReady}}
    {{#swiperSlides
      options=navOptions param='slides' classNames='navbar'
    }}
      <div class='swiper-slide'>RSVPs</div>
      <div class='swiper-slide'>Upcoming</div>
      <div class='swiper-slide'>Past Events</div>
    {{/swiperSlides}}

    {{#swiperSlides
      options=slideOptions param='slides' classNames='swiper-slide-main'
    }}
      {{> EventsRsvp}}
      {{> _eventsList eventsList=upcomingEvents}}
      {{> _eventsList eventsList=pastEvents}}
    {{/swiperSlides}}
  {{/if}}

  <a id='acct-btn-wrapper' class='btn-floating btn-large white'>
    <i id='acct-btn' class='mdi-social-person black-text'></i>
  </a>
  <a id='add-event-btn-wrapper' class='btn-floating btn-large white'>
    <i id='event-edit-btn' class='mdi-content-add black-text'></i>
  </a>

  {{> Account}}
  {{> _eventsEdit}}
  {{> CreateActivity}}
</template>
