.link-swiper {
  background-color: black;
  height: 70px;
  color: gray;
  text-align: center;

  .swiper-slide {
    width: 40%;
    height: 40px;
    padding-top: 30px;
  }

  .swiper-slide-active {
    color: white;
  }
}
