<template name='EventsShow'>
  <div class='img-preview' style='background-image: url("{{currentEvent.coverPhoto}}")'>
    <div class='img-preview-inner'>
      <i id='back-arrow'
         class='img-preview-top-center mdi-hardware-keyboard-arrow-up small'>
      </i>
      <a id='edit-event'
         class='img-preview-top-right btn-floating btn-medium white'>
        <i class='mdi-editor-mode-edit black-text'></i>
      </a>
      <h2 class='img-preview-title'>{{currentEvent.title}}</h2>
    </div>
  </div>

  {{#if Template.subscriptionsReady}}
    {{#if isPlanner}}
      {{#swiperSlides
        options=plannerNavOptions param='slides' classNames='navbar'
      }}
        <div class='swiper-slide'>Host</div>
        <div class='swiper-slide'>Details</div>
        <div class='swiper-slide'>The Wall</div>
        <div class='swiper-slide'>Guest List</div>
      {{/swiperSlides}}

      {{#swiperSlides
        options=plannerSlideOptions param='slides' classNames='swiper-slide-main'
      }}
        {{> EventsShowHost}}
        {{> EventsShowDetails}}
        {{> EventsShowWall}}
        {{> EventsShowGuestList}}

        <form id='new-post' class='form-bottom'>
          <input
            class='form-bottom-input'
            type='text'
            name='comment'
            placeholder='Message...'>
        </form>
      {{/swiperSlides}}

    {{else}}

      {{#swiperSlides
        options=plannerNavOptions param='slides' classNames='nav-slides nav-slides-show'
      }}
        <div class='swiper-slide'>Host</div>
        <div class='swiper-slide'>Details</div>
        <div class='swiper-slide'>The Wall</div>
        <div class='swiper-slide'>Photos</div>
        <div class='swiper-slide'>RSVP</div>
      {{/swiperSlides}}

      {{#swiperSlides
        options=plannerSlideOptions param='slides' classNames='swiper-slide-main'
      }}
        {{> EventsShowHost}}
        {{> EventsShowDetails}}
        {{> EventsShowWall}}
        {{> EventsShowPhotos}}
        {{> EventsShowRsvp}}

        <form id='new-post' class='form-bottom'>
          <input
            class='form-bottom-input'
            type='text'
            name='comment'
            placeholder='Message...'>
        </form>
      {{/swiperSlides}}
    {{/if}}
  {{/if}}

  {{> _eventsEdit currentEvent=currentEvent}}
  {{> _eventsActivityEdit currentActivity=currentActivity}}
</template>
