<template name='EventsShow'>
  <div class='status-bar'></div>

  <div class='cover-photo' style='background-image: url("{{currentEvent.coverPhoto}}")'>
    <div class='cover-photo-inner'>
      <i class='cover-photo-icon mdi-hardware-keyboard-arrow-up small'></i>
      <h5>{{currentEvent.title}}</h5>
    </div>
  </div>

  {{#if Template.subscriptionsReady}}
    {{#if isPlanner}}
      {{#swiperSlides
        options=plannerNavOptions param='slides' classNames='nav-slides nav-slides-show'
      }}
        <div class='swiper-slide'>Host</div>
        <div class='swiper-slide'>Details</div>
        <div class='swiper-slide'>The Wall</div>
        <div class='swiper-slide'>Guest List</div>
      {{/swiperSlides}}

      {{#swiperSlides
        options=plannerSlideOptions param='slides' classNames='main-slides'
      }}
        {{> EventsShowHost}}
        {{> EventsShowDetails}}
        {{> EventsShowWall}}
        {{> EventsShowGuestList}}

        <form class='new-comment'>
          <input type='text' name='comment' placeholder='Message...'>
        </form>
      {{/swiperSlides}}

    {{else}}

      {{#swiperSlides
        options=plannerNavOptions param='slides' classNames='nav-slides nav-slides-show'
      }}
        <div class='swiper-slide'>Host</div>
        <div class='swiper-slide'>Details</div>
        <div class='swiper-slide'>The Wall</div>
        <div class='swiper-slide'>Photos</div>
        <div class='swiper-slide'>RSVP</div>
      {{/swiperSlides}}

      {{#swiperSlides
        options=plannerSlideOptions param='slides' classNames='main-slides'
      }}
        {{> EventsShowHost}}
        {{> EventsShowDetails}}
        {{> EventsShowWall}}
        {{> EventsShowPhotos}}
        {{> EventsShowRsvp}}

        <form class='new-comment'>
          <input type='text' name='comment' placeholder='Message...'>
        </form>
      {{/swiperSlides}}
    {{/if}}
  {{/if}}
</template>
